<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flag</title>
</head>
<body>
    <img style="width: 50%; margin-left: auto; margin-right:auto; display: block" src = "http://4.bp.blogspot.com/-1_qtX6SS9TA/VASrmBr2iUI/AAAAAAAAJEQ/Oz8BVQ3urZo/s1600/6759114_std.jpg">
    <span style="margin-left:33%; font-size: 29px">Flag{n1nj4_h4tt0ri}<span>
</body>
</html>