<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<meta name="theme-color" content="#ffffff">
	<title>Ninja</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static' , filename='style.css')}}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
	<header>
    	<h1 class="center">Ninja</h1>
    </header>
    <form action="/">
        <div class=form>
            <label for="searchBox">Enter Query</label>
            <input type="text" placeholder="Search for any word" id="searchBox" name="query">
            <button onclick="search()">Search</button>
        </div>

    </form>
</body>
</html>